			h1 {
				color: red;
			}
			img {
				width: 400px;
				margin: 0;
				padding: 0;
			}
			#thirdDiv {
				height: 600px;
				width: 500px;
				background-color: aliceblue;
				padding: 50px;
				border: 2px double lightgray;
			}

			#spanId { 
				font-size: 18px;
				margin: 50px;
			 }